#!/usr/bin/env bash

# --------------------------------------------
# @doc Arboreus Library github handler configuration template
# @author Alexandr KIRILOV (http://alexandr.kirilov.me)
# @copyright (C) 2015, http://rusiem.com
# --------------------------------------------

# System settings
USER_NAME="user_name"

# Project directories
DIR_ROOT="/path/to/dir"
DIR_ROOT_GIT="/path/to/dir"
DIR_SRC="/path/to/dir"
DIR_GIT="/path/to/dir"